<h3>Details</h3>

<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Phone:</strong> <%= @user.phone %></p>

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Delete', @user, method: :delete %>

<h3>Orders</h3>

<ul>
  <% @user.orders.each do |order| %>
    <li><%= link_to "#{order.description[0, 50]}#{' ...' if order.description.length > 50}", order %></li>
  <% end %>
</ul>
