<!-- <%= form_with model: @delivery, url: order_deliveries_path(@order) do |form| %>
  <%= form.label :address, 'Delivery address:' %><br>
  <%= form.text_area :address %><br>
  <%= form.label :deliver_at, 'Delivery date and time:' %><br>
  <%= form.datetime_field :deliver_at %><br>
  <%= form.submit 'Submit order' %>
<% end %> -->

<div class='calendly-inline-widget' data-url='https://calendly.com/rlvcookiesncream/deliveries?utm_source=<%= @order.id %>' style='min-width: 320px; height: 580px;'></div>
<script type='text/javascript' src='https://assets.calendly.com/assets/external/widget.js'></script>
