<h3>Order details</h3>

<p><strong>Count:</strong> <%= Order.view_count(@order) %></p>
<p><strong>Description:</strong> <%= @order.description %></p>
<p><strong>Delivery?</strong> <%= Order.view_is_delivery(@order) %></p>

<% if @order.is_delivery %>
  <h3>Delivery details</h3>

  <p><strong>Delivery address:</strong> <%= @order.delivery.address %></p>
  <p><strong>Delivery date and time:</strong> <%= @order.delivery.deliver_at.strftime('%B %-d, %Y at %I:%M%P') %></p>
<% else %>
  <h3>Pickup details</h3>

  <p><strong>Pickup address:</strong> 812 NW 194th Ter, Edmond, OK 73012</p>
  <p><strong>Pickup date and time:</strong> <%= @order.pickup.pickup_at.strftime('%B %-d, %Y at %I:%M%P') %></p>
<% end %>

<link href='https://assets.calendly.com/assets/external/widget.css' rel='stylesheet'>
<script src='https://assets.calendly.com/assets/external/widget.js' type='text/javascript'></script>
<a href='' onclick="Calendly.showPopupWidget('<%= @order.cancel_url %>'); return false;">Cancel</a>

<!-- <%= link_to 'Cancel', @order.cancel_url, target: '_blank' %>

<%= link_to 'Edit', '' %>
<%= link_to 'Delete', '' %> -->
