<!DOCTYPE html>
<html>
  <head>
    <title>RLV Cookies 'n' Cream</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>

    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>

    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous'>

    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
    <nav class='navbar sticky-top d-flex justify-content-between navbar-expand navbar-light bg-white'>
      <%= link_to image_tag('nav-logo.svg'), root_path, id: 'nav-logo', class: 'navbar-brand' %>

      <div class='navbar-nav'>
        <% if logged_in? %>
          <%= link_to 'Profile', current_user, class: 'nav-item nav-link' %>
          <%= link_to 'Log out', session_path(current_user), method: :delete, class: 'nav-item nav-link' %>
        <% else %>
          <%= link_to 'Sign up', signup_path, class: 'nav-item nav-link' %>
          <%= link_to 'Log in', login_path, class: 'nav-item nav-link' %>
        <% end %>
      </div>
    </nav>

    <% flash.each do |alert_type, alert| %>
      <div class='alert alert-<%= alert_type %> alert-dismissible fade show m-3'>
        <%= alert %>
        <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
    <% end %>

    <%= yield %>

    <!-- <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous'></script> -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous'></script>

    <!-- Nav shadow on load/scroll 👇 -->
    <script>
      $(document).ready(function() {
        const $window = $(window);
        const $nav = $('nav');

        $window.bind('load scroll', function() {
          const scrollTop = $window.scrollTop();

          if (scrollTop > 25) {
            $nav.addClass('shadow-sm');
          } else {
            $nav.removeClass('shadow-sm');
          }
        });
      });
    </script>
  </body>
</html>
